.container-box {
  /* display: flex; */
  background-color: rgba(210, 207, 232, 0.8);
}

.derecha-container {
  display: flex;
  /* Utilizamos display: flex para que las páginas estén en línea */
  overflow: hidden;
  /* Para ocultar las páginas que no están activas durante la transición */
}

.derecha {
  width: 100%;
  /* Establecer un ancho para cada página */
}

.derecha-enter {
  /* opacity: 0; */
  transform: translateX(100%);
}

.derecha-enter-active {
  /* opacity: 1; */
  transition: transform 300ms ease-in;
  transform: translateX(0);
}

.derecha-exit {
  /* opacity: 1; */
  transform: translateX(0);
  display: none;
}

.derecha-exit-active {
  /* opacity: 0; */
  transition: transform 300ms ease-in;
  transform: translateX(-100%);
  /* display: none; */
}

.izquierda-enter {
  /* opacity: 0; */
  transform: translateX(-100%);
}

.izquierda-enter-active {
  /* opacity: 1; */
  transition: transform 300ms ease-in;
  transform: translateX(0);
}

.izquierda-exit {
  /* opacity: 0; */
  display: none;
  transform: translateX(0);
}

.izquierda-exit-active {
  /* opacity: 1; */
  transition: transform 300ms ease-in;
  /* display: none; */
  transform: translateX(100%);
}