* {
  margin: 0;
  padding: 0;
}

:root {
  --negro: #000000;
  --celeste: rgb(39, 132, 218);
  --celeste-transparente: rgba(39, 132, 218, 0.27);
  --celeste-claro: rgb(208, 221, 233);
  --celeste-oscuro: rgb(25, 85, 140);
  --rojo: #fb075c;
  --verde: #7bf13c;
  --naranja: #e04b4b;
  --fondo: rgb(230, 229, 237);
  --fondo-claro: rgb(241, 239, 248);
  --fondo-muy-claro: rgb(234, 232, 249);
  --font_0: 'Montserrat', sans-serif;
  --font_1: 'Roboto Mono', monospace;
  --font_2: 'Source Code Pro', monospace;
}

.m-r {
  margin-right: 2rem;
}

.m-l {
  margin-left: 2rem;
}