.contactame-box {
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 6rem;
    align-items: center;
    max-width: 5rem;
}

.boton-form {
    padding: 1rem;
    font-size: large;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--naranja);
    color: white;
    border-radius: 1.5rem;
    min-width: 12rem;
    min-height: 4rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s, box-shadow 0.3s;
}

.boton-form.wpp {
    background-color: green;
    border: 3px solid white;
    text-transform: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.boton-form.wpp p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.boton-form:hover {
    color: black;
    background-color: var(--celeste-claro);
    cursor: pointer;
    font-weight: 900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    min-width: 13rem;
    min-height: 4.5rem;
}

.boton-form:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactame-imagenwpp {
    width: 2.5rem;
    margin-top: -0.1rem;
}