.cuadro-tecnologia-box {
    text-align: center;
    margin: 7px;
}

.cuadro-certificado-box {
    text-align: center;
    margin: 7px;
    max-width: 8rem;
}

.cuadro-certificado-box:hover {
    cursor: pointer;
    color: orange;
}

.cuadro-tecnologia-encuadre {
    border: 1px dotted rgb(192, 190, 190);
    border-radius: 10px;
    padding: 8px;
    background-color: var(--fondo);
    opacity: 0.85;
    margin-bottom: 0.35rem;
}

.cuadro-tecnologia-encuadre:hover {
    opacity: 1;
}

.cuadro-certificado-encuadre {
    border: 1px dotted rgb(192, 190, 190);
    border-radius: 10px;
    padding: 8px;
    background-color: var(--celeste-transparente);
    opacity: 0.85;
    transition: box-shadow 0.3s;
    margin-bottom: 0.35rem;
    display: flex;
    justify-content: space-around;
}

.cuadro-certificado-encuadre:hover {
    opacity: 1;
}

.cuadro-certificado-encuadre:active {
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.cuadro-tecnologia-texto {
    margin-top: 2px;
    font-size: 12px;
    font-family: var(--font_0);
}

.cuadro-certificado-texto {
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font_0);
}

.cuadro-descarga {
    width: 1rem !important;
    height: 1rem !important;
    align-self: flex-end;
    margin-right: -0.5rem;
}