.cuadro-tecnologia-box {
    text-align: center;
    margin: 7px;
}

.cuadro-certificado-box {
    text-align: center;
    margin: 7px;
    max-width: 8rem;
}

.cuadro-certificado-box:hover {
    cursor: pointer;
}

.cuadro-tecnologia-encuadre {
    border: 1px dotted rgb(192, 190, 190);
    border-radius: 10px;
    padding: 8px;
    background-color: var(--fondo);
    opacity: 0.85;
}

.cuadro-tecnologia-encuadre:hover {
    opacity: 1;
}

.cuadro-certificado-encuadre {
    border: 1px dotted rgb(192, 190, 190);
    border-radius: 10px;
    padding: 8px;
    background-color: var(--celeste-transparente);
    opacity: 0.85;
    transition: box-shadow 0.3s;
}

.cuadro-certificado-encuadre:hover {
    opacity: 1;
}

.cuadro-certificado-encuadre:active {
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.cuadro-tecnologia-texto {
    margin-top: 2px;
    font-size: 15px;
}

.cuadro-certificado-texto {
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;
}