.footer-text {
    text-align: center;
    /* text-transform: uppercase; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: rgb(17, 17, 17);
    user-select: none;
}

.footer-box {
    padding-top: 2px;
    height: 4vh;
    background-color: rgb(190, 182, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}