.habilidades-box {
    /* height: 80.8vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /*Pruebas*/
    background-color: rgb(245, 245, 245);
    width: 90%;
    max-width: 56rem;
    margin: 0 auto;
    box-shadow: 0 0 2px black;
    overflow: hidden;
}

.habilidades-box.right {
    animation: fadeIntoFR 0.5s ease forwards;
    overflow: hidden;
}

.habilidades-box.left {
    animation: fadeIntoFL 0.5s ease forwards;
    overflow: hidden;
}

@keyframes fadeIntoFR {
    0% {
        opacity: 0;
        transform: translateX(100%) translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0px);
    }
}

@keyframes fadeIntoFL {
    0% {
        opacity: 0;
        transform: translateX(-100%) translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0px);
    }
}

.habilidades-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
}

.habilidades-sobremi-container {
    display: flex;
    width: 80%;
    max-width: 56rem;
    gap: 2rem;
    height: 12rem;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
}

.habilidades-perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.habilidades-fotoperfil {
    width: 9rem !important;
    height: 10rem !important;
    border-radius: 0.6rem;
    border: 1px solid rgb(183, 182, 182);
}

.habilidades-botondescarga {
    background-color: var(--celeste-transparente);
    padding: 0.6rem 0.7rem;
    border: 1px solid rgb(109, 108, 108);
    border-radius: 0.5rem;
    opacity: 0.85;
    transition: box-shadow 0.3s ease;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    gap: 0.5rem;
}

.habilidades-iconodescargacv {
    width: 1rem !important;
    height: 1rem !important;
}

.habilidades-botondescarga:hover {
    cursor: pointer;
    opacity: 1;
}

.habilidades-botondescarga:active {
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.habilidades-textoperfil {
    font-size: 15px;
    font-family: var(--font_0);
}

.habilidades-titulo-container {
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid black; */
}

.habilidades-container h2 {
    font-family: var(--font_2);
    margin-bottom: 3px;
}

.habilidades-container img {
    height: 4.5rem;
    width: 4.2rem;
}

.habilidades-tecnologie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 29rem;
}

.habilidades-tecnologie-container.certifications {
    border-top: 1px solid black;
    padding-top: 16px;
}

.tecnologies {
    padding: 1.25rem;
}

.fila {
    display: flex;
    justify-content: center;
}