.notificacion-box {
    background-color: rgba(186, 67, 67, 0.9);
    color: white;
    width: 11rem;
    height: 6rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    position: fixed;
    bottom: 0;
    margin: 0.5rem;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease forwards, fadeOut 0.3s ease forwards 3.7s;
}

.notificacion-box.esok {
    background-color: green;
}

.notificacion-box p {
    /* font-weight: 700; */
    font-size: small;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(0%) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(-30px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0%) translateY(-30px);
    }

    100% {
        opacity: 0;
        transform: translateX(0%) translateY(30px);
    }
}