.proyectos-box {
    /* height: 80.8vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*Pruebas*/
    background-color: whitesmoke;
    width: 90%;
    max-width: 56rem;
    margin: 0 auto;
    box-shadow: 0 0 2px black;
    /* user-select: none; */
    overflow: hidden;
}

.proyectos-box.right {
    animation: fadeIntoFR 0.5s ease forwards;
    overflow: hidden;
}

.proyectos-box.left {
    animation: fadeIntoFL 0.5s ease forwards;
    overflow: hidden;
}

.proyectos-container {
    margin-bottom: 3rem;
}

.proyectos-titulo {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}